In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url ='https://www.slickcharts.com/sp500'

page = requests.get(url)
page.text
soup = BeautifulSoup (page.text, 'html.parser')

#read company names
name_text = []
company_name_elem = soup.find_all("a")

for item in company_name_elem:
    name_text.append(item.text)
    
name_text[23::2];

#Read company symbol
symbol_text = []
company_symbol_elem = soup.find_all("a")

for item in company_symbol_elem:
    symbol_text.append(item.text)
    
symbol_text[24::2];

# Read Weight
weight_text = []
company_weight_elem = soup.find_all("td")

for item in company_weight_elem:
    weight_text.append(item.text)
    
weight_text[3::7];


# Read Price
price_text = []
company_price_elem = soup.find_all("td")

for item in company_price_elem:
    price_text.append(item.text)
    
price_text[4::7];

# Read Change
change_text = []
company_change_elem = soup.find_all(class_="text-nowrap")

for item in company_change_elem:
    change_text.append(item.text)
    
change_text[1::3];


# Read % Change
percent_text = []
company_percent_elem = soup.find_all(class_="text-nowrap")

for item in company_percent_elem:
    percent_text.append(item.text)
    
percent_text[2::3];

# Create dataframe

final_array = []

for company, symbol, weight, price, change, percent in zip(name_text[23::2],symbol_text[24::2],weight_text[3::7],price_text[4::7],change_text[1::3],percent_text[2::3]):
    final_array.append({'Name':company,'Symbol':symbol,'Weight':weight,'Price':price,'Change':change,'Percent':percent})
    
df = pd.DataFrame(final_array)
df

,Name,Symbol,Weight,Price,Change,Percent
0,Microsoft Corporation,MSFT,5.927535,203.64,-8.11,(-3.83%)
1,Apple Inc.,AAPL,5.854749,372.45,-16.64,(-4.28%)
2,Amazon.com Inc.,AMZN,4.798101,"2,988.00",-111.91,(-3.61%)
3,Facebook Inc. Class A,FB,2.130817,233.36,-6.51,(-2.71%)
4,Alphabet Inc. Class A,GOOGL,1.734602,"1,520.51",-44.34,(-2.83%)
...,...,...,...,...,...,...
500,Gap Inc.,GPS,0.010163,13.04,0.21,(1.64%)
501,Under Armour Inc. Class A,UAA,0.006974,10.87,0.43,(4.12%)
502,Under Armour Inc. Class C,UA,0.006709,9.78,0.36,(3.82%)
503,News Corporation Class B,NWS,0.005829,12.73,-0.12,(-0.90%)
504,Coty Inc. Class A,COTY,0.004554,4.17,0.05,(1.21%)